@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 30px auto;
  padding: 20px;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.input-search {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-search input {
  flex: 1;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.btn {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  color: #fff;
  transition: background-color 0.2s ease;
}
.btn.blue{
  background-color: #093e69;
}
.btn.blue:hover {
  background-color: #145e9f;
}

.btn.green {
  background-color: #4caf50;
}
.btn.green:hover {
  background-color: #3c9c40;
}

.btn.red {
  size: 100px;
}
.btn.red:hover {
  background-color: #d32f2f;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  cursor: pointer;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
  font-size: 14px;
}

.table th {
  background-color: #f5f5f5;
  font-weight: 600;
  color: #444;
}

.table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tr:hover {
  background-color: #f1f1f1;
}